html {
	scrollbar-width: none;
	overscroll-behavior: none;
  	overscroll-behavior-y: none;
    	-webkit-overscroll-behavior-y: none;
	overflow-x: hidden;
}

html::-webkit-scrollbar { display: none; }

.pinned {
  /* position: fixed; */ 
  z-index: -1;
  pointer-events: none;
}

.pinned.flow {
  position: absolute;
  top: 200px; /* must match 'endPoint' const */
  pointer-events: auto;
  z-index: 1;
}

/* Research */
.research-glass::after {
  --glass-size: 2.6em;
  --glass-offset: 8px;
  --gradient: linear-gradient(0deg, hsla(1, 100%, 0%, 0), hsla(0, 0%, 0%, 0.3));
  content: "";
  position: absolute;
  width: calc(var(--glass-size) + var(--glass-offset));
  height: calc(var(--glass-size) + var(--glass-offset));
  top: calc(var(--glass-offset) / 2 * -1);
  left: calc(var(--glass-offset) / 2 * -1);
  border-radius: inherit;
  padding: 1px;
  background: var(--gradient);
  -webkit-mask: linear-gradient(#000, #000) content-box, linear-gradient(#000, #000);
  mask: linear-gradient(#000, #000) content-box, linear-gradient(#000, #000);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}

.head-design-dim {
  width: -moz-fit-content;
  width: fit-content;
}

.head-dev-grid { pointer-events: none; }

.square {
  position: absolute;
  width: 16px;
  height: 16px;
  border: 0.5px solid #c8c8c8;
}

.disable-text {
	-webkit-user-select:none;
	-webkit-touch-callout:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none;   
}

/* mobile '&' */
@media screen and (max-width: 768px) {
  .head-design-wrap::after {
    content: '&';
    font-size: 2.6em;
    font-weight: 500;
    position: absolute;
    right: -4rem;
    transform: translateY(150%);
  }
}

.fixed { pointer-events: none; }

.fixed-tr, .fixed-br { pointer-events: auto; }

@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
	.nav-bubble {
		-webkit-backdrop-filter: blur(1rem);
    backdrop-filter: blur(1rem);
	}
}
  
.campus-btn > .c-ondra, .campus-btn > .c-ondra-icon { transition: filter 0.2s ease-in; }

.campus_glow {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 0.1px;
  height: 0.1px;
  border-radius: 50%;
  background-color: #0078ff;
  box-shadow: 0 0 40px 20px #0078ff, 0 0 100px 50px #0078ff;
  -webkit-animation: gatekeeper_spin 16s linear infinite;
  animation: gatekeeper_spin 16s linear infinite;
  filter: saturate(70%) brightness(110%);
}

.campus-btn:hover > .campus_glow_wrap {
	filter: brightness(110%) saturate(100%);
  -webkit-filter: brightness(110%) saturate(100%);
}

.campus-btn:hover > .c-ondra, .campus-btn:hover > .c-ondra-icon {
	filter: invert(1);
  color: black;
}

.campus_glow:nth-of-type(2) {
  left: 20%;
  animation: gatekeeper_spin 20s linear infinite reverse;
}

.campus_glow:nth-of-type(3) {
  left: 80%;
  animation: campus_spin 8s linear infinite reverse;
}

.campus_glow::after,
.campus_glow::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0.1px;
  height: 0.1px;
  border-radius: 50%;
  background-color: #00c389;
  box-shadow: 0 0 40px 20px #00c389, 0 0 50px 25px #00c389;
  transition: opacity 8s, transform 8s;
  z-index: 1;
}

.campus_glow::before {
  transform: translateX(-50px);
}

.campus_glow::after {
  transform: translateX(50px);
}

@-webkit-keyframes campus_spin {
  to {
    transform: rotate(1turn)
  }
}

@keyframes campus_spin {
  to {
    transform: rotate(1turn)
  }
}

.campus-three {
	pointer-events: none;
	-webkit-user-select: none;
	-webkit-touch-callout: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none; 
}

.campus-interact-meta-wrap {
	pointer-events: none;
}

.campus-interact-meta {
	pointer-events: auto;
	box-shadow: 0 1px 2px rgba(0,0,0,0.07), 
              0 2px 4px rgba(0,0,0,0.07), 
              0 4px 8px rgba(0,0,0,0.07), 
              0 8px 16px rgba(0,0,0,0.07),
              0 16px 32px rgba(0,0,0,0.07);
}

.render--android, .render {
	width: 512px;
	cursor: pointer;
}

.render {
	border-radius: 12px;
	transition: box-shadow 0.15s linear;
}

.render:hover {
	-webkit-box-shadow: 0px 0px 30px 0px white;
	box-shadow: 0px 0px 30px 0px white;
}

.hidden { display: none; }
.invisible { opacity: 0; }

.bio {
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.bio-topbar:after {
	display: block;
	position: absolute;
	content: '';
	left: 1em;
	top: 50%;
	transform: translateY(-50%);
	width: 0.5em;
	height: 0.5em;
	border-radius: 50%;
	background-color: #f15f59;
	box-shadow: 0 0 0 2px #f15f59, 1.3em 0 0 2px #febb2b, 2.6em 0 0 2px #4bb749;
}

.bio-topbar-label:after {
	content: url("data:image/svg+xml;utf8,<svg fill='%23000000' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 330 330' xml:space='preserve'><g id='SVGRepo_bgCarrier' stroke-width='0'></g><g id='SVGRepo_tracerCarrier' stroke-linecap='round' stroke-linejoin='round'></g><g id='SVGRepo_iconCarrier'><path id='XMLID_225_' d='M325.607,79.393c-5.857-5.857-15.355-5.858-21.213,0.001l-139.39,139.393L25.607,79.393 c-5.857-5.857-15.355-5.858-21.213,0.001c-5.858,5.858-5.858,15.355,0,21.213l150.004,150c2.813,2.813,6.628,4.393,10.606,4.393 s7.794-1.581,10.606-4.394l149.996-150C331.465,94.749,331.465,85.251,325.607,79.393z'></path></g></svg>");
	display: inline-block;
	width: 0.6em;
	height: 0.6em;
	filter: invert(0.5);
	padding-left: 0.3em;
}

.bio-toggle-btn {
	z-index: 2;
	opacity: 1;
	-webkit-backdrop-filter: blur(4px);
	backdrop-filter: blur(4px);
	color: #aeaeae;
	cursor: pointer;
	background-color: rgba(255, 255, 255, .04);
	border-radius: 0.6em;
	padding: 0.4em 0.6em;
	font-size: .9em;
	transition: opacity .4s ease-in;
	display: inline-block;
	position: absolute;
	top: 50%;
	right: 0.25em;
	transform: translateY(-50%);
	box-shadow: inset 0 -1px 0.6em rgba(255, 255, 255, .05);
	border: none;
}

.bio-toggle-btn.invisible {
	opacity: 0;
	animation: none;
}

@media screen and (max-width: 600px) {
	.bio-toggle-btn {
		display: none;
	}
}

.bio h1 i {
	font-style: inherit;
	position: relative;
	transform: scaleY(0);
	top: 0px;
	left: 0px;
}

.bio h1 a:before {
	content: " ";
	white-space: pre;
}

.bio i.on {
	border-radius: 0;
	background-color: white;
	color: transparent;
}

.bio.transition i {
	transition: top 200ms, left 200ms, transform 200ms !important;
}

.bio i.upsideDown {
	display: inline-block;
	transform: scaleY(-1) translateY(-20%);
}

.bio i.animated {
	animation: seesaw 600ms infinite;
}

.bio i.seesaw {
	transform-origin: center 103% !important;
}

.bio i.n7 {
	top: 0px;
	left: 0px;
}

@keyframes seesaw {
	0% {
		top: 5px;
		color: white;
	}

	55.55% {
		color: #121212;
	}

	88.88% {
		color: grey;
	}

	70% {
		top: -20px;
	}

	100% {
		top: 5px;
		color: white;
	}
}
