.bio {
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.bio-topbar:after {
	display: block;
	position: absolute;
	content: '';
	left: 1em;
	top: 50%;
	transform: translateY(-50%);
	width: 0.5em;
	height: 0.5em;
	border-radius: 50%;
	background-color: #f15f59;
	box-shadow: 0 0 0 2px #f15f59, 1.3em 0 0 2px #febb2b, 2.6em 0 0 2px #4bb749;
}

.bio-topbar-label:after {
	content: url("data:image/svg+xml;utf8,<svg fill='%23000000' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 330 330' xml:space='preserve'><g id='SVGRepo_bgCarrier' stroke-width='0'></g><g id='SVGRepo_tracerCarrier' stroke-linecap='round' stroke-linejoin='round'></g><g id='SVGRepo_iconCarrier'><path id='XMLID_225_' d='M325.607,79.393c-5.857-5.857-15.355-5.858-21.213,0.001l-139.39,139.393L25.607,79.393 c-5.857-5.857-15.355-5.858-21.213,0.001c-5.858,5.858-5.858,15.355,0,21.213l150.004,150c2.813,2.813,6.628,4.393,10.606,4.393 s7.794-1.581,10.606-4.394l149.996-150C331.465,94.749,331.465,85.251,325.607,79.393z'></path></g></svg>");
	display: inline-block;
	width: 0.6em;
	height: 0.6em;
	filter: invert(0.5);
	padding-left: 0.3em;
}

.bio-toggle-btn {
	z-index: 2;
	opacity: 1;
	-webkit-backdrop-filter: blur(4px);
	backdrop-filter: blur(4px);
	color: #aeaeae;
	cursor: pointer;
	background-color: rgba(255, 255, 255, .04);
	border-radius: 0.45em;
	padding: 0.1em 0.4em;
	font-size: .9em;
	transition: opacity .4s ease-in;
	display: inline-block;
	position: absolute;
	top: 50%;
	right: 0.25em;
	transform: translateY(-50%);
	box-shadow: inset 0 -1px 0.6em rgba(255, 255, 255, .05);
	border: none;
}

.bio-toggle-btn.invisible {
	opacity: 0;
	animation: none;
}

@media screen and (max-width: 600px) {
	.bio-toggle-btn {
		display: none;
	}
}

.bio h1 i {
	font-style: inherit;
	position: relative;
	transform: scaleY(0);
	top: 0px;
	left: 0px;
}

.bio h1 a:before {
	content: " ";
	white-space: pre;
}

.bio i.on {
	border-radius: 0;
	background-color: white;
	color: transparent;
}

.bio.transition i {
	transition: top 200ms, left 200ms, transform 200ms !important;
}

.bio i.upsideDown {
	display: inline-block;
	transform: scaleY(-1) translateY(-20%);
}

.bio i.animated {
	animation: seesaw 600ms infinite;
}

.bio i.seesaw {
	transform-origin: center 103% !important;
}

.bio i.n7 {
	top: 0px;
	left: 0px;
}

@keyframes seesaw {
	0% {
		top: 5px;
		color: white;
	}

	55.55% {
		color: #121212;
	}

	88.88% {
		color: grey;
	}

	70% {
		top: -20px;
	}

	100% {
		top: 5px;
		color: white;
	}
}

.bio .bio-h1:last-of-type:after {
	display: inline-block;
	content: "";
	height: 1.8rem;
	width: 1.4px;
	position: relative;
	top: 0.3rem;
	right: -0.2rem;
	background-color: #fff;
	opacity: 0.5;
	-webkit-animation: bio-cursor 1s steps(2, start) infinite;
	animation: bio-cursor 1s steps(2, start) infinite;
}

.bio .bio-h1:last-of-type.clicked:after {
  opacity: 0;
}

@media screen and (max-width: 767px) {
	.bio .bio-h1:last-of-type:after {
		height: 1.4rem;
		top: 0.1rem;
	}
}

@-webkit-keyframes bio-cursor {
	to {
		visibility: hidden
	}
}

@keyframes bio-cursor {
	to {
		visibility: hidden
	}
}
