.pillar-title:before {
  content: "";
  display: inline-block;
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background-color: #222;
  margin-right: 0.5rem;
  position: relative;
  top: -0.15rem;
}

#crossdisciplinary:hover #venn1 {
  transform: translateX(-46%);
}

#crossdisciplinary:hover #venn3 {
  transform: translateX(-54%);
}

#speed:hover #speed1 {
  transform: translateX(-55.5%);
}

#speed:hover #speed3 {
  transform: translateX(-45.5%);
}

#beginner > .pillar-slug {
  text-indent: -6px;
}

/* shoshin on:hover :after reveal citation */
#beginner .pillar-slug:after {
  content: "–Shunryu Suzuki";
  color: inherit;
  margin-left: 0.4rem;
  transition: opacity 0.12s linear;
  transition-delay: 0s;
  opacity: 0;
}

#beginner:hover .pillar-slug:after {
  opacity: 0.8;
  transition: opacity 0.2s linear;
  transition-delay: 0.3s;
}

.cdj-row {
  display: flex;
}

.cdj-cell {
  width: 8px;
  height: 8px;
  border: 0.5px solid #333;
  cursor: crosshair;
}

.peace-row {
  display: flex;
}

.peace-cell {
  width: 14px;
  height: 14px;
  border: 0.5px solid #333;
  cursor: crosshair;
}

.peace-reset {
  opacity: 0;
  transition: 1s all;
}

.folder:hover {
  color: white;
}

.folder-outline {
  pointer-events: none;
}

.folder-row {
  pointer-events: none;
}

.folder {
  pointer-events: auto;
}

.folder:hover>.hover {
  opacity: 0.92;
}


@media (max-width: 479px) {

  .folder:last-child>.folder-p {
    opacity: 1 !important;
    /* hack */
  }

}

.bits .radial-gradient {
  position: absolute;
  width: 320px;
  height: 320px;
  border-radius: 50%;
  background: radial-gradient(circle closest-side, #505050, transparent);
  pointer-events: none;
  opacity: 0;
  transition: 400ms opacity linear;
  z-index: 0;
}

.collapsed { height: 0; }

.jam-link:hover {
  cursor: url('https://whole-earth.github.io/ondra.systems/hire/jam.png') 12 12, pointer;
    /* '8 8' sets the position of the cursor's click point (hotspot) within the image */
    /* 'pointer' is the fallback cursor style if the custom cursor fails to load */
    width: 24px;
    height: 24px;
}
